# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
xcuserdata/

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/
*.xcscmblueprint

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive

# Logs
*.log

# Firebase
GoogleService-Info.plist
